<p>
    <h1><% @recipe.name %></h1>
</p>

 <h2 class="center">
         <%= @recipe.name %>
         </h2>
 <div class="row">
     <div class="col-md-2 col-md-offset-1">
         <%= gravatar_for @recipe.chef, size: 150 %>
         <p>
            Chefname:<%= @recipe.chef.chefname %>
         </p>
  
    </div>
         
    
     <div class="col-md-6 col-md-offset-1">
       
         <hr/>
         <h4><%= simple_format@recipe.summary %></h4>
          <div class="show_recipe">
            <%= image_tag(@recipe.picture.url, size: "250x130", class: "gravatar") if @recipe.picture %>
        </div>
         <br>
         <div class="well">
         <p class="underline">Description:</p>
        
           <%= @recipe.description %><br>
           <div class="pull-left">
           <%= link_to like_recipe_path(@recipe, like: true), method: :post do %>
           <i class="glyphicon glyphicon-thumbs-up"></i>&nbsp <%= @recipe.thumps_up_total %>
           <% end %> &nbsp&nbsp&nbsp
           <%= link_to like_recipe_path(@recipe, like: false), method: :post do %>
           <i class="glyphicon glyphicon-thumbs-down"></i>&nbsp <%= @recipe.thumps_down_total %>
           <% end %>
          </div>
           <%= link_to "Edit recipe", edit_recipe_path, class: "btn btn-small pull-right" %>
          
         </div>
        
       
    
     </div>
 </div>
 
 <h5 class="center"><%= link_to 'Return to Recipes', recipes_path, class: "btn btn-success btn-small" %></h5>
 <h5 class="center"><%= link_to 'Create a new recipe', new_recipe_path, class: "btn btn-danger btn-small" %></h5>